/* Sticky footer styles
http://getbootstrap.com/examples/sticky-footer-navbar/
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}*/
/*body {
   Margin bottom by footer height 
  margin-bottom: 60px;
}*/
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
   height: 10vh; 
  background-color: #9C9C9C;
}*/

/* begin general styles for site */
footer { 
    background-color:#35324E; /* dark purpley blue */
    border-radius:4px;
    margin-top: 0px;
}

footer #footer-copyright {
    color: #A79560; /* beige */
    text-align: center;     
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
*/
/* overload of bootstrap style */
.navbar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}

/*.navbar-text .navbar-right {
    padding-right: 15px;
}*/

.kpi-bar {
    background-color: #222222;
    border-top-color: #4F7A30;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.kpi-bar .kpi-total-save {
    color: #fff;
}

.kpi-global-total-save {
    float:right;
    color: #fff;
}
/*#wrap { background: gray; position: absolute; bottom: 20px; top: 20px; right: 100px; left: 100px }
#wrap .content { height: 100% }*/

main {
    background-color: #50686A;
    border-radius: 4px;
    margin-top: .25em;
    margin-bottom: .25em;
}

.settings-form {
    /*height:500px;*/
    background-color: #BBE3D7;

    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}

.settings-info {
        /*height:500px;*/
    background-color: #BBE3D7;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}

.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
/*    position:fixed;
    top:0;
    left:0;*/
    background-color:yellow;
    font-weight:bold;
}


/* 11.24.2015 */
/*
.form-control .email {
  width:50%;
}*/

.login-form {
      width: 50%;
    margin: auto;
        background: gray;
        margin-bottom: 2em;
}

.login-logo {
      margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}
.login-heading {
/*    font-weight: bold;*/
    font-size: 40px;
    line-height: 1em;
    text-align: center;
}

.login-form-inputs {
      padding-left: 2em;
    padding-right: 2em;
}

.login-submit {
    float:right;
}

.login-panel-footer {
  clear: both;
}

.register-submit {
      margin-bottom: 15px;
      float:right;
}
/*.registration-form-inputs {
      padding-left: 2em;
    padding-right: 2em;
}*/

.or {
    background: #d9d9d9;
    border-radius: 12px;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    height: 25px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    width: 25px;
  }